/* Color Variable Definition*/
  :root {
    --SeaDepth: #004762;
    --SeaDepthDark: #003752;
    --OceanWave: #8fb8cc;
    --GoldGradient: linear-gradient(100deg, #DAAB65 5.78%, #F3D494 39.92%, #E4C494 52.78%, #CEA06B 86.42%, #F1BF74 100.77%);
    --SolidGold: #DAAB65;
    --Ivory: #eaebdd;
    --Foam: #eff0ed;
    --97Black: #2d2a2b;
  }

/* Body & Background */
  body {
      background-color:var(--SeaDepth);
      font-family: 'EB Garamond', 'Sweet Sans Pro';
      color: var(--Foam);
  }

  video {
      object-fit:fill;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
    }
    
/* Content Sections */
    .viewportContents{
      position: relative;
      height: 100vh;

      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      grid-row-gap: 14vh;

      justify-content: center;
      text-align: center;
      margin-left: 20vw;
      margin-right: 20vw;
    }


    .bodyContents{
      position:relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .infoContents{
      position:relative;
      width: 90vh;

      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      grid-column-gap: 12vh;

      justify-content: center;
    }

    #information{
      text-align: left;
    }

/* Type Definitions */
  h1 {
    display: inline-block;

    background: url(./Assets/Jellyfish_resizedCompressed.png) no-repeat bottom/cover;
    background-size: 100vw;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    color: var(--OceanWave);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: EB Garamond;
    font-size: 5.25vh;
    font-style: normal;
    line-height: 6.5vh;
    letter-spacing: 0.15vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }


  h6{
    color:var(--Foam);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: EB Garamond;
    font-size: 2.5vh;
    font-style: italic;
    font-weight: 500;
    line-height: 4vh;
    letter-spacing: .1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  p {
    color: var(--Foam);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: sweet-sans-pro, sans-serif;

    font-size: 1.75vh;
    font-style: normal;
    font-weight: 400;
    line-height: 3vh;
    letter-spacing: .1vh;
    padding-top: .5vh;
    padding-bottom: .5vh;

    /*-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;*/
  }

  /* Header & Footer */

    #aureliaLogo{
      width: 32vh;
    }

    #relaisLogo{
      width: 5.5vh;
    }

    footer {
      position: relative;
      bottom: 0vh;
    }

    header {
      position: relative;
      top: 0vh;
    }


/* Reservation Button */
    button{
      display: flex;
      width: 27vh;
      height: 8vh;
      justify-content: center;
      align-items: center;

      border-radius: 2.5vh;
      border: .24vh solid var(--SolidGold);
      background: var(--Ivory);
    }

    button:hover{
      display: flex;
      width: 27vh;
      height: 8vh;
      justify-content: center;
      align-items: center;

      border-radius: 2.5vh;
      border: .20vh solid var(--97Black);
      background: var(--GoldGradient);
    }

    .buttonText{
      color: var(--97Black);
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: sweet-sans-pro, sans-serif;

      font-size: 1.5vh;
      font-style: normal;
      font-weight: 400;
      line-height: 1.25vw;
      letter-spacing: .35vw;
      text-transform: uppercase;

      /*-webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-smooth: never;*/
    }

    a:hover{
      text-decoration: none;
    }

/* resizing/responsive edits */

  @media only screen and (max-width: 750px) {
    .viewportContents{
      position: relative;
      height: 100vh;

      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      grid-row-gap: 7vw;

      justify-content: center;
      text-align: center;
      margin-left: 20vw;
      margin-right: 20vw;
    }

    .infoContents{
      position:relative;
      width: auto;
  
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      grid-row-gap: 3vh;
  
      justify-content: center;
      padding: 2vw;
    }

    h1 {
      font-size: 3.75vh;
      line-height: 5vh;
      background-size: 350vw;
      background-position: bottom;
    }

    #information{
      text-align: center;
    }
  }